.g-typograph {

}


.title {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  color: #1db7e9;
  font-size: em(24px);
  font-weight: 700;
  line-height: em(27px, 24);
}

.popup_title {
  margin: 0;
  margin-right: 20px;
  color: grey;
  font-size: em(24px);
  font-weight: 700;
}

.popup_row {
  margin-bottom: 5px;
}

.g-align-center {
  text-align: center;
}
