/* content */
/***********************************************/
.ccase-managment {
  background-size: 100% 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.infoname {
  color: grey;
  margin-right: 20px;
}

.infovalue {
  padding: 10px;
}

.infovalue-patient-address
{
  width: 428px;
  height: 42px;
}

.reasonvalue {
  padding: 10px;
  width: 100%;
}

.ccase-managment__top {
  lost-flex-container: row;
}
.ccase-managment__top_boxes {
  
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.ccase-managment__top__bottom {
  lost-flex-container: row;
  margin-bottom: em(30);
}

.full-width {
  min-width: 100%;
}

li {
  margin-bottom: em(10);
}

.ccase-managment__top-rect {
}

.referral-view__top {
  lost-flex-container: row;
}

.referral__detail-field-patient-address {
  lost-column: 1/4 4 em(80px);
  margin-bottom: em(30);
}

.referral__detail-field {
  lost-column: 1/4 4 em(80px);
  margin-bottom: em(30);
}

.referral__detail-field-reason {
  lost-column: 3/4 4 em(80px);
  margin-bottom: em(30);
}

.referral__detail-field-notes {
  lost-column: 2/4 4 em(80px);
  margin-bottom: em(30);
}
.ccase-managment__top-item {
  lost-column: 1/3 3 em(80px);
  margin-bottom: em(30);
}

.ccase-managment__top-item-box {
  display: inline-block;
  vertical-align: top;
  min-width: em(130);
}

.ccase-managment__top-item-label {
  color: rgba(#202020, .5);
  font-size: em(14px);
}

.ccase-managment__top-item-box-note {
  padding-top: em(8);
}

.ccase-managment__top-item-box-link {
  margin-top: em(8);
  text-decoration: none;
  @extend %tr-all;
  display: inline-block;
  vertical-align: top;
  color: #202020;
  &:hover {
      color: #1db7e9;
  }
}

.content__top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: em(30);
  min-height: em(50);
  &.mod--appointment {
    position: relative;
    min-height: 1px;
    margin-bottom: em(10);
  }
}

.answering-service {
  display: flex;
  
  .answering-caller-info {
    flex: 1;
    text-align: center;
    font-size: 26px;
    padding: 10px 0;
    font-family: Lato,sans-serif;
    color: #202020;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.6rem;
    .details-content {
      font-size: 16px;
      .details-content-urology {
        font-size: 16px;
        background: darkcyan;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 10px 10px 50px;
        width: 80%;
        .urology-item {
          flex: 1;
          text-align: left;
        }
      }
    }

    .quick-link {
      background: grey;
      font-size: 12px;
      padding: 5px;
      border-color: gray;
      margin: 5px;
      &.blue {
        font-size: 16px;
        background: #1db7e9;
        border-color: #1db7e9;
        text-transform: none;
      }
    }
    .quick-provider-link {
      background: 1db7e9;
      font-size: 12px;
      padding: 5px;
      border-color: gray;
      margin: 5px;
      &.blue {
        font-size: 20px;
        background: #1db7e9;
        border-color: #1db7e9;
        text-transform: none;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  .answering-triage-guide {
    flex: 1;
    text-align: center;
    max-width: 650px;
    font-size: 26px;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Lato,sans-serif;
    color: #202020;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.6rem;
    .button-array {
      margin-top: 10px;
      .triage-button {
        border-width: 2px;
        text-transform: none;
        margin: 10px;
        font-size: 21px;
        padding: 10px;
        flex: 1;
        width: 130px;
      }
    }
  }
}

.content_caller-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: em(15);
  min-height: em(15);
 
}
.content__top-appointment-close {
  width: em(50);
  height: em(50);
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  //right: em(60);
  //top: em(40);
  opacity: .4;
  .ico-svg__close {
    width: em(18px);
    height: em(18px);
    position: absolute;
    top: em(16);
    left: em(16);
    use {
      fill: #fff;
    }
  }
  @extend %tr-all;
  &:hover {
    opacity: 1;
  }

}
.content__search-icon {
  position: absolute;
  right: 5px;
}
.customer__search-icon {
  position: absolute;
  right: 5px;
  margin-top: 20px;
}
.caller__search-icon {
  position: absolute;
  right: 5px;
  top: 30px;
}

.sidebar__divider {
  height: 30px;
}

.content__top-action {
  .ico-svg__plus-round {
    width: em(50);
    height: em(50);
    use {
      @extend %tr-all;
      fill: #1db7e9;
    }
    border-radius: 50%;
    box-shadow: 0.5px 0.8px 5px rgba(0, 0, 0, 0.2);
  }
  .ico-svg__search-patient {
    width: em(30);
    height: em(30);
    display: inline-block !important;
    use {
      @extend %tr-all;
      fill: #1db7e9;
    }
  }
  .ico-svg__plus-close {
    width: em(25);
    height: em(25);
    use {
      @extend %tr-all;
      fill: white;
    }
    background-color: grey;
    border-radius: 50%;
    box-shadow: 0.5px 0.8px 5px rgba(0, 0, 0, 0.2);
  }
  &:hover {
    use {
      fill: darken(white, 10%)
    }
  }

  .ico-svg__close {
    width: em(28px);
    height: em(28px);
    opacity: 0.2;
    @extend %tr-all;
    use {
      fill: #000;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.inline-block {
  display: inline-block !important;
  max-width: 157px;
}
