// Begin header
header.header
    h1.logo
        img(src="https://drive.google.com/uc?id=1-uD2ofyildDaprkCazv6GnqzX0FH6ndg").logo__link
        // img(src="../img/logo_kaiser.png").logo__link
    .header__tabs
        .header__tabs-item(:class="{'state--active': $root.currentShowBox ==='home'}")
            a(href="#", @click.prevent="$root.currentShowBox = 'home'").header__tabs-item-link Home
        .header__tabs-item(:class="{'state--active': $root.currentShowBox ==='scheduling'}")
            a(href="#", @click.prevent="$root.currentShowBox = 'scheduling'").header__tabs-item-link Scheduling
        .header__tabs-item(:class="{'state--active': $root.currentShowBox ==='case-managment'}")
            a(href="#", @click.prevent="$root.currentShowBox = 'case-managment'").header__tabs-item-link Case Management
        .header__tabs-item(:class="{'state--active': ['billing', 'statement_review','payment_confirmation','payment_result'].indexOf($root.currentShowBox)>=0}")
            a(href="#", @click.prevent="$root.currentShowBox = 'billing'").header__tabs-item-link Billing
        .header__tabs-item()
            a(href="#", v-on:click = "$root.currentShowBox = 'triage'").header__tabs-item-link Triage
        .header__tabs-item()
            a(href="#", @click.prevent="$root.currentShowBox = 'referrals'").header__tabs-item-link Referrals
        .header__tabs-item()
            a(href="#", v-on:click = "$root.currentShowBox = 'directory'").header__tabs-item-link Directory
        .header__tabs-item()
            a(href="#", @click.prevent="$root.currentShowBox = 'pharmacy'").header__tabs-item-link Pharmacy

    .header__action
        .header__tabs-item()
            a(href="#").header__tabs-item-link Nurse Betsy Swanson
// End header
