/* sidebar */
/***********************************************/
.sidebar {
  width: 100%;
  padding: em(36) em(18);
  position: relative;
}

.sidebar__title {
  text-align: center;
  color: rgba($bodyColor, 0.5);
  font-size: em(14px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: em(2.8px, 14);
  margin-bottom: em(26, 14);
}


.l-sidebar__userpic {
  display: flex;
  justify-content: center;
  margin-bottom: em(40);
}
.sidebar__userpic {
  border-radius: 50%;
  border: em(6) solid #fff;
  position: relative;
}
.sidebar__initials {
  font-size: em(60);
  text-align: center;
  color: rgb(233, 178, 138);
  margin-left: 10px;
  margin-top: 10px;
}

.sidebar__userpic-image {
  width: em(100);
  height: em(100);
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
}

.sidebar__userpic-info {
  border-radius: 50%;
  border: em(6) solid #fff;
  vertical-align: top;
  position: absolute;
  bottom: em(6);
  right: em(-16);
  .ico-svg__info {
    width: em(28px);
    height: em(28px);
    use {
      fill: #1db7e9;
    }
  }
  &:hover {
    use {
      fill: darken(#1db7e9, 10%);
    }
  }
}

.sidebar__userpic-info-airline {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: em(1) solid #fff;
  background: green;
  vertical-align: top;
  position: absolute;
  bottom: em(6);
  right: em(-16);
  width: em(40);
  height: em(40);

  .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: rgb(114, 179, 223);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin: 20px 0 0 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}
.sidebar__note-userpic {
  text-align: center;
  margin-bottom: em(44);
}
//.l-sidebar__section
.sidebar__section {
  margin-top: em(14);
  padding: em(10);
  //border-bottom: 1px solid #cdcdcd;
  &:first-child {
    margin-top: 0;
  }
}

.sidebar__high--risk {
  background: red;
  color: white;
  font-size: em(25px);
  font-weight: 900;
  margin-top: em(-20);
  margin-bottom: em(-10);
  padding: em(5);

  .tool-tip {
    visibility: hidden;
    width: 220px;
    background-color: yellow;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: em(10px);
    font-weight: 100;
    position: absolute;
    z-index: 1;
    right: 10%;
    margin-top: -30px;
  }
}

.sidebar__high--risk:hover .tool-tip {
  visibility: visible;
}

.sidebar__section--note {
  color: rgba(#202020, .5);
  font-size: em(14px);
  margin-bottom: em(10);
}
.sidebar__section--info {
}

.sidebar__section--info-select {
  margin-bottom: em(10);
  position: relative;
  .ico-svg__down {
    use {
      fill: #000;
    }
    width: em(12px);
    height: em(8px);
    position: absolute;
    right: 0;
    top: em(6);
  }
}

.sidebar__success {
  margin-top: em(20);
  text-align: center;
  padding: 0 em(10);
}

.sidebar__section--info-link {
  text-decoration: none;
  color: #202020;
  @extend %tr-all;
  &:hover {
    color: #1db7e9;
  }
}
